* {
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --header-bg: #10375C;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

li {
    list-style: none;
}

.btn {
    --height : 60px;
    width: 205px;
    height: var(--height);
    border-radius: 99px;
    background: #2E80CE;
    border: 2px solid #2E80CE;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    cursor: pointer;
}

.btn:hover {
    background-color: var(--header-bg);
    color:#fff;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* header */
.header {
    padding-top: 30px;
    padding-bottom: 110px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #FFF;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.action__login:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 #FFF;
}

.navbar__link--active::before {
    position: relative;
    top: -3px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 50%;
}

.action__login {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;

}

.action__btn {
    width: 104px;
    height: 44px;
    border-radius: 99px;
    font-size: 1.6rem;
    background: #2E80CE;
}

/* hero */ 
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    width: 44% ;
    flex-wrap: 1;
}
.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.heading__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__action {
    margin-top: 38px;
}

.hero__action--btn {
    padding: 15px 46px;
}

.hero__action--phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* service */

.service {
    margin-top: 170px;
    padding-bottom: 170px;
}

/* .service__texts {
    display: grid;
    place-items: center;
} */

.service__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.service__desc {
    margin-top: 18px;
    width: 468px;
    color: #575F66;
    font-family: Sora;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.service__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* service__part--right */

.service__part--right {
    margin-left: 130px;
}

.service__item {
    display: flex;
    width: 470px;
    padding: 21px 22px 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__item--circle::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2E80CE;
}

.service__icon {
    position: relative;
    top: 19px;
    right: 40px;
    width: 21px;
    height: 24px;
    object-fit: cover;
}

.service__item--title {
    margin-left: 19px;
}

.service__item--title--name {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__item--title--Explanation {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service__btn {
    margin-top: 55px;
}

/* how it works */

.howitwork {
    padding: 100px;
    background: #F6FBFF;
}

.howitwork__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.howitwork__desc {
    margin-top: 18px;
    width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

/* <!-- how it works steps --> */

.howitwork__steps {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.howitwork__steps--item {
    padding: 42px 0 42px 42px;
    width: 338px;
    height: 370px;
    border-radius: 4px;
    background: #FFF;
    border: 16px solid #EAF6FF;
}

.howitwork__steps--item:hover {
    position: relative;
    top: -16px;
    border: 16px solid #2E80CE;
    transition: all 0.3s ease;
}

.howitwork__steps--icon {
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.howitwork__steps--title {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.howitwork__steps--desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.howitwork__steps--link {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* about us */

.aboutus {
    padding: 170px 0 291px;
}

.aboutus__content {
    display: flex;
}

.about__image { 
    position: relative;
    display: flex;
    margin-right: 190px;
}

.about__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.about__img--small {
    position: absolute;
    right: -51px;
    top: 121px;
    width: 332px;
    height: 370px;
}

.aboutus__body {
    width: 470px;
}

.aboutus__heading {
    color: #10375C;
    font-family: Sora;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;   
}

.aboutus__desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.aboutus__link {
    margin-top: 38px;
}