* {
   box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

.main {
    width: 1036px;
}


.header {
    display: grid;
    background: #10375C;
}